<!DOCTYPE html>
<html lang="en">
<head>
<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Site Metas -->
<title>Bilge Koleji - Hakkımızda</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Site Icons -->
<link rel="shortcut icon" href="/images/favicon.ico" type="/image/x-icon" />
<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!-- Site CSS -->
<link rel="stylesheet" href="/style.css">
<!-- ALL VERSION CSS -->
<link rel="stylesheet" href="/css/versions.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="/css/responsive.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="/css/custom.css">

<!-- Modernizer for Portfolio -->
<script src="/js/modernizer.js"></script>

<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body class="host_version">



    <!-- LOADER -->
    <div id="preloader">
        <div class="loader-container">
            <div class="progress-br float shadow">
                <div class="progress__item"></div>
            </div>
        </div>
    </div>
    <!-- END LOADER -->
    <!-- Start header -->
    <header class="top-navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="@Url.Action("Index","Home")">
                    <p class="nav-item active" style="color: white; font-size: 18px;">BİLGE KOLEJİ</p>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbars-host">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
                        <li class="nav-item active"><a class="nav-link" href="@Url.Action("About","Home")">Hakkımızda</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Education","Home")">EĞİTİM</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Gallery","Home")">GALERİ</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Contact","Home")">İLETİŞİM</a></li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <!-- End header -->

    <div class="all-title-box">
        <div class="container text-center">
            <h1>Hakkımızda<span class="m_1"></span></h1>
        </div>
    </div>

    <div id="overviews" class="section lb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <p class="lead">Bilge Koleji 2017 yılında kurulmuş olup, kurulduğu günden itibaren işini çok ciddiye aldı. Hedefini hep büyük tuttu. Seçkin yöneticileri ve kadrosuyla ,etkin ders ve başarı takibiyle büyük güven kazandı. Bilge Koleji içinde hedefini büyük tutup, uluslararası  standartta bir okul için yola çıktık. Yurtiçi ve yurtdışında saygın eğitim kurumlarını gezip fiziki yapılarını inceledik, sistem ve programları hakkında bilgi aldık. Sektördeki gelişmeleri görmek için uluslararası fuarları dolaştık. Eğitimciler ve akademisyenlerle günlerce toplantılar ve görüşmeler yaptık. Eğitimle ilgili seminer, konferans ve panellere katıldık. Çeşitli kaynaklar ve dökümanlar taradık.</p>
                    <br><p>İstedik ki kuracağımız okul, dünyaya açık olsun, etkin yabancı dil öğretimi yapsın. Hem öz değerlerimize dayalı okul kültürümüzü sahiplenen hem de evrensel normları benimseyen ufku geniş, özgüveni yüksek , “dünya vatandaşı” seçkin bireyler yetiştirsin.</p>
                    <br><p>İstedik ki onlar; bugünün mutlu ve başarılı çocukları , yarının üretken ve saygın bireyleri olsunlar.</p>
                </div>
            </div><!-- end title -->

            <div class="row align-items-center">
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    <div class="hmv-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="inner-hmv" style="height: 400px;">
                        <div class="icon-box-hmv"><i class="flaticon-achievement"></i></div>
                        <h3>Misyon</h3>
                        <div class="tr-pa">M</div>
                        <p>
                            Var olma nedenimiz çocuklarımızdır. Başarımız ise; onların "Akademik Başarı"ları ile birlikte;
                            <ul>
                                <li>İngilizce ile dünyaya açılması</li>
                                <li>Bilişim ile üretime katılması</li>
                                <li>Kişisel Gelişim ile mutlu yaşaması</li>
                                <li>Spor ile sağlıklı olması</li>
                                <li>Sanat ile hayata farklı bakış açıları kazandırmaktır.</li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="inner-hmv">
                        <div class="icon-box-hmv"><i class="flaticon-eye"></i></div>
                        <h3>Vizyon</h3>
                        <div class="tr-pa">V</div>
                        <p>
                            Biz BİLGE’yiz. İnsanlık tarihinin bu kavrama yüklediği sorumlulukla, insanlığın bugünü ve geleceği için;
                            <ul>
                                <li>Barışına</li>
                                <li>Üretimine</li>
                                <li>Çağdaşlığına</li>
                                <li>Gelişimine</li>
                                <li>İlerlemesine</li>
                                katkı sağlayan,

                                <li>Kültürüne ve milli değerlerine sahip çıkan</li>
                                <li>Ülkesine ve Dünya’ya değer katan</li>
                                <li>Özsaygısı, özgüveni yüksek, sorumluluk sahibi bireyler yetiştirerek,</li>
                                Gelişim ve değişime öncülük ederek “Eğitim Dünyası”nın lideri olmaktır.
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="inner-hmv">
                        <div class="icon-box-hmv"><i class="flaticon-history"></i></div>
                        <h3>Tarihçe</h3>
                        <div class="tr-pa">H</div>
                        <p>2017'de kurulan okulumuzun vizyoner eğitim kadrosuyla, çocuklarımıza okulu sevdirerek, mutlu ve güvenli eğitim ortamı oluşturmayı amaç edindik. Öğrenci Yönetim Kurulu ile öğrencilerimizin okul yönetiminde yer almaları sağlanır. Böylece öğrencilerimiz “okul hayatın bir parçasıdır” yaklaşımıyla geleceğe hazırlanırlar.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Hakkımızda</h3>
                        </div>
                        <p> Atatürkçü düşünceyi benimsemiş, yeniliklere açık, çağdaş teknolojiyi kullanan, Türkçeye hakim olmanın yanında en az iki yabancı dili yazıp konuşan, çevreye karşı duyarlı, kendi kültürel değerlerine sahip, evrensel değerlere açık, araştırmacı, yaratıcı, yapıcı, eleştirel düşünen, kendisi ile barışık, sevgiyi paylaşan ve dünya barışı için görevler üstlenen mutlu bireyler yetiştirmektir.</p>
                        <div class="footer-right">
                            <ul class="footer-links-soi">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-github"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul><!-- end links -->
                        </div>
                    </div><!-- end clearfix -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Linkler</h3>
                        </div>
                        <ul class="footer-links">
                            <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
                            <li><a href="@Url.Action("About","Home")">Hakkımızda</a></li>
                            <li><a href="@Url.Action("Education","Home")">Eğitim</a></li>
                            <li><a href="@Url.Action("Gallery","Home")">Galeri</a></li>
                            <li><a href="@Url.Action("Contact","Home")">İletişim</a></li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>İletişim Detayları</h3>
                        </div>

                        <ul class="footer-links">
                            <li><a href="#">iletisim@bilgekoleji.com</a></li>
                            <li><a href="#">www.bilgekoleji.com</a></li>
                            <li>Değirmendere mah. Hayrat cad. No 92/1 Merkez/RİZE</li>
                            <li>+90(0212) 444 44 44</li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->

            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-center">
                    <p class="footer-company-name" style="color: white;">2021 &copy; Bilge Koleji Tüm Hakları Saklıdır.</p>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/custom.js"></script>
    <script src="js/timeline.min.js"></script>
    <script>
        timeline(document.querySelectorAll('.timeline'), {
            forceVerticalMode: 700,
            mode: 'horizontal',
            verticalStartPosition: 'left',
            visibleItems: 4
        });
    </script>
</body>
</html>